openapi: 3.1.0
info:
  title: WhatsApp Business Management Analytics Business Accounts API
  description: The WhatsApp Business Management API enables programmatic management of WhatsApp Business Accounts, phone numbers, message templates, analytics, user assignments, product catalogs, and webhook subscriptions through the Meta Graph API.
  version: '21.0'
  contact:
    name: Meta Platform Support
    url: https://developers.facebook.com/support/
  termsOfService: https://www.whatsapp.com/legal/business-terms
servers:
- url: https://graph.facebook.com/v21.0
  description: Meta Graph API Production Server
security:
- bearerAuth: []
tags:
- name: Business Accounts
  description: Manage WhatsApp Business Account information
paths:
  /{waba-id}:
    get:
      operationId: getWhatsAppBusinessAccount
      summary: WhatsApp Get WABA Info
      description: Retrieves information about a WhatsApp Business Account.
      tags:
      - Business Accounts
      parameters:
      - $ref: '#/components/parameters/WabaId'
      - name: fields
        in: query
        description: Comma-separated list of fields to return
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: WABA info retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsAppBusinessAccount'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    WhatsAppBusinessAccount:
      type: object
      properties:
        id:
          type: string
          example: wamid.abc123
        name:
          type: string
          example: Example Business
        currency:
          type: string
          example: example_value
        timezone_id:
          type: string
          example: wamid.abc123
        country:
          type: string
          example: example_value
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          example: ACTIVE
        business_verification_status:
          type: string
          example: sent
        message_template_namespace:
          type: string
          example: Example Business
        owner_business:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        primary_funding_id:
          type: string
          example: wamid.abc123
        purchase_order_number:
          type: string
          example: example_value
  parameters:
    WabaId:
      name: waba-id
      in: path
      required: true
      description: WhatsApp Business Account ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: System User Token with whatsapp_business_management permission
externalDocs:
  description: WhatsApp Business Management API Documentation
  url: https://developers.facebook.com/docs/whatsapp/business-management-api
