openapi: 3.1.0
info:
  title: WhatsApp Business Management Analytics Flows API
  description: The WhatsApp Business Management API enables programmatic management of WhatsApp Business Accounts, phone numbers, message templates, analytics, user assignments, product catalogs, and webhook subscriptions through the Meta Graph API.
  version: '21.0'
  contact:
    name: Meta Platform Support
    url: https://developers.facebook.com/support/
  termsOfService: https://www.whatsapp.com/legal/business-terms
servers:
- url: https://graph.facebook.com/v21.0
  description: Meta Graph API Production Server
security:
- bearerAuth: []
tags:
- name: Flows
  description: Create, read, update, and delete flows
paths:
  /{waba-id}/flows:
    get:
      operationId: listFlows
      summary: WhatsApp List Flows
      description: Lists all flows for a WhatsApp Business Account.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/WabaId'
      - name: fields
        in: query
        description: Comma-separated fields to return
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: Flows retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
                  paging:
                    $ref: '#/components/schemas/CursorPaging'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createFlow
      summary: WhatsApp Create Flow
      description: Creates a new flow for a WhatsApp Business Account.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/WabaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlowRequest'
      responses:
        '200':
          description: Flow created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Flow ID
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /{flow-id}:
    get:
      operationId: getFlow
      summary: WhatsApp Get Flow
      description: Retrieves details about a specific flow.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/FlowId'
      - name: fields
        in: query
        description: Comma-separated fields to return
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: Flow retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: updateFlow
      summary: WhatsApp Update Flow
      description: Updates a flow. Only DRAFT flows can be updated. Published flows cannot be modified; clone them instead.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/FlowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlowRequest'
      responses:
        '200':
          description: Flow updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteFlow
      summary: WhatsApp Delete Flow
      description: Deletes a flow. Only DRAFT flows can be deleted. Published flows must be deprecated instead.
      tags:
      - Flows
      parameters:
      - $ref: '#/components/parameters/FlowId'
      responses:
        '200':
          description: Flow deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Flow:
      type: object
      properties:
        id:
          type: string
          example: wamid.abc123
        name:
          type: string
          example: Example Business
        status:
          type: string
          enum:
          - DRAFT
          - PUBLISHED
          - DEPRECATED
          - BLOCKED
          - THROTTLED
          example: DRAFT
        categories:
          type: array
          items:
            type: string
            enum:
            - SIGN_UP
            - SIGN_IN
            - APPOINTMENT_BOOKING
            - LEAD_GENERATION
            - CONTACT_US
            - CUSTOMER_SUPPORT
            - SURVEY
            - OTHER
        validation_errors:
          type: array
          items:
            $ref: '#/components/schemas/FlowValidationError'
        json_version:
          type: string
          example: example_value
        data_api_version:
          type: string
          example: example_value
        endpoint_uri:
          type: string
          format: uri
          example: example_value
        preview:
          type: object
          properties:
            preview_url:
              type: string
              format: uri
            expires_at:
              type: string
              format: date-time
            id:
              type: string
        whatsapp_business_account:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
    UpdateFlowRequest:
      type: object
      properties:
        name:
          type: string
          example: Example Business
        categories:
          type: array
          items:
            type: string
        endpoint_uri:
          type: string
          format: uri
          example: example_value
        application_id:
          type: string
          example: wamid.abc123
    CreateFlowRequest:
      type: object
      required:
      - name
      - categories
      properties:
        name:
          type: string
          description: Flow display name
          example: Example Business
        categories:
          type: array
          items:
            type: string
            enum:
            - SIGN_UP
            - SIGN_IN
            - APPOINTMENT_BOOKING
            - LEAD_GENERATION
            - CONTACT_US
            - CUSTOMER_SUPPORT
            - SURVEY
            - OTHER
        clone_flow_id:
          type: string
          description: ID of existing flow to clone
          example: wamid.abc123
        endpoint_uri:
          type: string
          format: uri
          description: HTTPS endpoint for data exchange
          example: example_value
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
    CursorPaging:
      type: object
      properties:
        cursors:
          type: object
          properties:
            before:
              type: string
            after:
              type: string
        next:
          type: string
          format: uri
          example: example_value
    FlowValidationError:
      type: object
      properties:
        error:
          type: string
          example: example_value
        error_type:
          type: string
          example: text
        message:
          type: string
          example: Hello from WhatsApp!
        line_start:
          type: integer
          example: 42
        line_end:
          type: integer
          example: 42
        column_start:
          type: integer
          example: 42
        column_end:
          type: integer
          example: 42
        pointers:
          type: array
          items:
            type: string
  parameters:
    WabaId:
      name: waba-id
      in: path
      required: true
      description: WhatsApp Business Account ID
      schema:
        type: string
    FlowId:
      name: flow-id
      in: path
      required: true
      description: Flow ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: System User Token with whatsapp_business_management permission
externalDocs:
  description: WhatsApp Business Management API Documentation
  url: https://developers.facebook.com/docs/whatsapp/business-management-api
