openapi: 3.1.0
info:
  title: WhatsApp Business Management Analytics Subscribed Apps API
  description: The WhatsApp Business Management API enables programmatic management of WhatsApp Business Accounts, phone numbers, message templates, analytics, user assignments, product catalogs, and webhook subscriptions through the Meta Graph API.
  version: '21.0'
  contact:
    name: Meta Platform Support
    url: https://developers.facebook.com/support/
  termsOfService: https://www.whatsapp.com/legal/business-terms
servers:
- url: https://graph.facebook.com/v21.0
  description: Meta Graph API Production Server
security:
- bearerAuth: []
tags:
- name: Subscribed Apps
  description: Manage webhook subscriptions for a WABA
paths:
  /{waba-id}/subscribed_apps:
    get:
      operationId: listSubscribedApps
      summary: WhatsApp List Webhook Subscriptions
      description: Lists all apps subscribed to webhook events for this WABA.
      tags:
      - Subscribed Apps
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          description: Subscriptions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        link:
                          type: string
                        name:
                          type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: subscribeApp
      summary: WhatsApp Subscribe App to Webhooks
      description: Subscribes the current app to receive webhook events for this WABA.
      tags:
      - Subscribed Apps
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          description: App subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: unsubscribeApp
      summary: WhatsApp Unsubscribe App from Webhooks
      description: Unsubscribes the current app from webhook events.
      tags:
      - Subscribed Apps
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          description: App unsubscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
  parameters:
    WabaId:
      name: waba-id
      in: path
      required: true
      description: WhatsApp Business Account ID
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: System User Token with whatsapp_business_management permission
externalDocs:
  description: WhatsApp Business Management API Documentation
  url: https://developers.facebook.com/docs/whatsapp/business-management-api
